* {
  padding: 0;
  margin: 0;
}

body {
  background: #ecf0f1;
}

.wrapper {
  max-width: 600px;
  padding: 40px 10px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.status {
  font-size: 20px;
  margin-bottom: 15px;
}

video {
  display: none;
}

canvas {
  width: 100%;
  display: block;
  background: #bdc3c7;
}

button {
  margin-top: 15px;
  padding: 3px 6px;
  font-size: 12px;
}

.info {
  margin-top: 30px;
  color: #778;
}

a, 
a:visited {
  color: #456;
}

a:hover,
a:focus {
  color: black;
}