* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.4em;
  text-align: center;
  background-color: #2c3e50;
  color: #fff;
}

.wrapper {
  padding: 20px;
  text-align: left;
  display: inline-block;
}

h1 {
  display: inline;
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.intro {
  margin-bottom: 10px;
}

.control {
  margin-bottom: 5px;
}

.sketch {
  margin-top: 20px;
}

label + label {
  margin-left: 5px;
}

@media (min-width: 700px) {
  .wrapper {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: row-reverse;
  }

  .ui {
    min-width: 175px;
    margin-left: 20px;
  }

  label {
    display: block;
  }

  label + label {
    margin-left: 0;
  }

  h3 {
    margin-top: 10px;
  }

  .sketch {
    margin-top: 0;
  }
}

canvas {
  border: 3px solid #112;
  border-radius: 8px;
  display: block;
  background-color: #eceff1;
}
